@import url();
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
} 
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg_1.JPG)repeat scroll center center/cover;
    background-blend-mode: overlay;

}
.contact h2{
    font-size: 40px;
    color: #fffae4;
    text-shadow: #fffae4;
    text-align: center;
    margin-bottom: 10px;
}
.contact form{
    width: 600px;
    text-align: center;
}
.form input-box{
    display: flex;
    justify-content: space-between;
}
.field.error .item{
    border-color: red;
    box-shadow:0 0 10px red;
}
.field .item{
    width: 100%;
    padding: 18px;
    background: rgba(42, 42, 42, 0.475);
    border: 2px solid #020202;
    box-shadow:0px 0px 4px #fffae4;
    font-size: 16px;
    color: #fffae4;
    outline: none;
    border-radius: 6px;
    margin:12px 0;
}
.field .item:hover{
    width: 100%;
    padding: 18px;
    background: rgba(42, 42, 42, 0.475);
    border: 2px solid #fffae4;
    box-shadow: 0px 0px 10px #fffae4;
    font-size: 16px;
    color: #fbfbfb;
    outline: none;
    border-radius: 6px;
    margin:12px 0;
}
.field .item::placeholder{
    color:#fffae4;
}
form .textarea-field .item{
    resize:none;
}
.button{
    padding: 12px 32px;
    background: #02020273;
    border:10px #000;
    outline: none;
    border-radius: 6px;
    box-shadow:0 0 10px #fffae4;
    font-size:16px;
    color:#fffae4;
    letter-spacing:1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}
.button:hover{
    background: #02020271;
    border: #fffae4;
    box-shadow:0 0 10px #fffae4;
}
.field .error-txt{
    font-size: 14.5px;
    color: red;
    text-align: left;
    margin: -5px 0 10px;
    text-shadow: 10px #020202;
    display: none;
}
/* styles.css */

/* Normalize styles for cross-browser consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling for the dark mode toggle */
  .dark-mode-toggle {
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .toggle-label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Dark mode styles */
  .toggle-checkbox:checked + .toggle-label {
    background-color: #333;
  }
  
  .toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(26px);
  }
  
